*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color:white;
  font-family: sans-serif;
}

#Tessin {background-color: red;}

a:hover {
font-size: 1.4rem;
}
.img-karte {
  text-align: center;
}

.img-center > img {
  width: 30%;
}
.img-fluss {
  text-align: center;
}
